{% extends "user/navbar.html" %}
{% load static %}
{% block title %}Seller Login{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'style/sellerlogin.css' %}">

<div class="login-container">
  <div class="login-card">
    <h2>Seller Login</h2>
    <form method="POST" >
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="Enter your username" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter your password" required>

      <button type="submit" class="btn-login">Login</button>
    </form>
    <p class="login-footer">Don't have an account? <a href="{% url 'seller_registration' %}">Register here</a></p>
  </div>
</div>
{% endblock %}
